maple-diffusion/bins/*.txt
maple-diffusion/bins/*.bin
xcuserdata/
.DS_Store
.build
DerivedData
/.previous-build
xcuserdata
*~
\#*
.\#*
.*.sw[nop]
*.xcscmblueprint
/default.profraw
Utilities/Docker/*.tar.gz
.swiftpm
Package.resolved
/build
*.pyc
.docc-build
